<h1>填寫訂單</h1>

<%= render 'shared/line_items' %>

<%= form_for @order do |f| %>
  <%= f.text_field :last_name, placeholder: '姓' %>
  <%= f.text_field :first_name, placeholder: '名' %>
  <%= f.email_field :email, placeholder: '信箱' %>
  <%= f.text_field :address, placeholder: '運送地址' %>
  <%= f.submit '送出' %>
<% end %>
<hr>
<% if Rails.env.development? %>
<table>
  <tbody>
    <tr><td>信用卡測試卡號</td><td>4311-9522-2222-2222</td></tr>
    <tr><td>信用卡測試安全碼</td><td>222</td></tr>
    <tr><td>信用卡測試有效年月</td><td>設定在未來時間即可</td></tr>
  </tbody>
</table>
<% end %>