<h1>我的購物車</h1>
<table>
  <thead>
    <tr><th>商品</th><th>單價</th><th>數量</th><th>小計</th><th></th></tr>
  </thead>
  <tbody>
    <% @line_items.each do |line_item| %>
    <tr>
      <td><%= link_to line_item.product.name, line_item.product %></td>
      <td><%= line_item.unit_price %></td>
      <td><%= line_item.quantity %></td>
      <td><%= line_item.price %></td>
      <td><%= link_to '移除', line_item, method: :delete %></td>
    </tr>
    <% end %>
    <tr><td></td><td></td><td><td><%= current_cart.price %></td><td></td></tbody>
</table>

<%= link_to '結帳去', new_order_path %>