<!DOCTYPE html>
<html>
<head>
  <title>BrainanaShop</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body>
<nav>
  <ul>
    <li><%= link_to '首頁', root_path %></li>
    <li><%= link_to '我的購物車', cart_path %></li>
  </ul>
</nav>
<%= notice %><%= alert %>
<%= yield %>

</body>
</html>
